{% macro render_field(field) %}
<div class="field">
  <div class="control">
    {{ field(**kwargs)|safe }}
  </div>
    {% if field.errors %}
      <p class="help is-danger">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}