<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carros</title>
    <link rel="stylesheet" href={{ url_for('static', filename='bulma/css/bulma.min.css') }}>
  </head>
  <body>
  <section class="section">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="notification {{ category }} is-light">
            {{ message }}
          </div>          
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
  </section>
  </body>
</html>