{% extends 'base.html' %}
{% block title %}
   <h1 class="title">
    <a href="{{ url_for('edit', id = id) }}">Editar Carro</a>
  </h1>
{% endblock %}
{% block content %}
<table class="table is-bordered is-fullwidth">
<thead class='is-blue'>
    <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
    </tr>
</thead>    
{% from "_formhelpers.html" import render_field %} 
<form method="post">
    <tr>
        <td>{{ render_field(form.marca, class='input') }}</td>
        <td>{{ render_field(form.modelo, class='input') }}</td>
        <td>{{ render_field(form.ano, class='input') }}</td>
        <td>            
            <div class="field is-grouped">
            <div class="control">
                <input type="submit" value="Atualizar" class="button is-primary is-light"/>
            </div>
            <div class="control"> 
                <a href="{{ url_for('index') }}">
                <input type="button" value="Cancelar" class="button is-link is-light"/>    
                </a>                     
            </div>
            </div>  
        </td>
    </tr>
</form>   
</table>
{% endblock %}   