{% extends 'base.html' %}
{% block title %}
   <h1 class="title">
    <a href="{{ url_for('index') }}">Cadastro de Carros</a>
  </h1>
{% endblock %}
{% block content %}
<div class="table-container">
<table class="table is-bordered is-hoverable is-fullwidth">
<thead class='is-blue'>
    <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>

    </tr>
</thead>    
{% for carro in carros %}
    <tr>
        <td>{{ carro['marca'] }}</td>
        <td>{{ carro['modelo'] }}</td>
        <td>{{ carro['ano'] }}</td>
        <td>
            <div class="field is-grouped">
            <div class="control">
                <form action={{ url_for('delete', id = carro['id'] ) }} method="post">
                    <input type="submit" value="Remover" class="button is-danger is-light"/>
                </form> 
            </div>
            <div class="control">
                <form action={{ url_for('edit', id = carro['id'] ) }} method="get">
                    <input type="submit" value="Editar" class="button is-info is-light"/>
                </form>                           
            </div>
            </div>                 
        </td>
    </tr>
{% endfor %}   
{% from "_formhelpers.html" import render_field %} 
<form method="post">
    <tr>
        <td>{{ render_field(form.marca, class='input') }}</td>
        <td>{{ render_field(form.modelo, class='input') }}</td>
        <td>{{ render_field(form.ano, class='input') }}</td>
        <td>
            <input type="submit" value="Adicionar" class="button is-link is-light"/>
        </td>
    </tr>
</form>
</table>  
</div>
{% endblock %}    